@import "./ports.css";


.dashboard {
	  display: flex;
}

.dashboard .dashboard-view {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 425px) {
	.dashboard {
		  /* display: grid; */
		  /* grid-column-gap: 50px; */
	}

	.dashboard .dashboard-view {
		width: 100%;
	}

}