@import "./ports.css";


.dashboard {
	  display: flex;
}

.dashboard-view {
	display: flex;
	width: calc(100vw - var(--side-nav-width));
	height: calc(100vh - var(--top-nav-height));
}

@media screen and (max-width: 425px) {
	.dashboard-view {
		width: 100%;
		flex-direction: column;
	}

	.dashboard-view section {
		width: 100%;
		padding: 0 var(--sm);
		margin: var(--xxsm) 0;
		text-align: left;
		justify-content: flex-start;
		align-items: flex-start;
		background: var(--dark);
	}

}