@import "../palette.css";
@import "../vars.css";


#top-nav-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: var(--top-nav-height);
	width: 100%;
	background: var(--color-0-4);
	box-shadow: 0 -4px 4px 2px var(--color-0-2);
}

#top-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.link {
	font-size: var(--sm);
	color: var(--light);
	text-decoration: none;
	margin: 0 12px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

.link:hover {
	color: var(--color-2-0);
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

#top-nav .router-link-active {
	color: var(--color-0-0);
}

#top-nav .router-link-exact-active {
	color: var(--color-0-0);
}

#nav-icon {
	display: none;
}

#side-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: var(--side-nav-width);
	height: calc(100vh - var(--side-nav-width));
	padding: 0 var(--sm);
	border-right: 1px dashed var(--color-0-3);
}

#side-nav .side-nav-item {
	color: var(--light);
	padding: var(--sm) 0 var(--sm) 0;
	font-size: var(--sm);
	cursor: pointer;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

#side-nav .router-link-active {
	color: var(--color-0-0);

}

#side-nav .router-link-exact-active {
	color: var(--color-0-0);
}


@media screen and (max-width: 425px) {
	#top-nav-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 25vh;
		position: absolute;
		top: 0;
		left: 0;
	}

	#top-nav {
		flex-direction: column;
		align-items: center;
		font-size: 0.75rem;
	}

	.top-nav--closed {
		height: 0px !important;
	}

	#top-nav a {
		margin: 4px 0;
		transition: color 1s ease;
		-webkit-transition: color 1s ease;
		-moz-transition: color 1s ease;
		-o-transition: color 1s ease;
		-ms-transition: color 1s ease;
	}

	#nav-icon {
		display: initial;
	}
}
