@import "../vars.css";
@import "../palette.css";

.port-list-container {
	display: flex;
	padding: var(--sm);
	width: 75vw;
}

.port-list-title {
	text-transform: lowercase;
	color: var(--light);
	font-size: var(--lg);
}

.port-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 var(--sm);
	width: 100%;
}

.port-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--color-0-1);
	border: 1px solid var(--color-0-3);
}

.port-list-item .link {
	font-size: var(--lg);
}

.port-status {
	font-size: 4rem;
	width: 2vw;
	height: 2vh;
}

.port--open {
	background-color: var(--color-1-0);
	transition: all 1s;
}

.port--closed {
	background-color: var(--color-3-0);
	transition: all 1s;
}