.port-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.port-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--color-0-1);
	min-width: 10vw;
	height: 10vh;
	/* margin: var(--sm); */
	background-color: var(--color-0-4);
	border: var(--xsm) solid transparent;
}

.port-list-item .link {
	font-size: var(--lg);
}

.port-status {
	width: 4vw;
	height: 4vh;
}

.port--open {
	background: var(--color-1-0);
	transition: background 1s;
}

.port--closed {
	background: var(--color-3-0);
	transition: background 1s;
}

@media screen and (max-width: 425px) {
	.port-list {
		flex-direction: column;
		width: 95vw;
		padding: var(--xsm);
		background: var(--dark);
	}

	.port-list-item {
		width: 100%;
		margin: var(--xsm) 0;
	}
}