@import './normalize.css';
@import './skeleton.css';
@import './base.css';


#logo {
	width: 25vw;
}

#sub-logo {
	color: var(--orange-yellow);
}

#top-nav {
	display: flex;
	justify-content: flex-end;
	padding: 0.25vh;
	/* background: linear-gradient(to left, var(--dark), transparent); */
}

#top-nav a:last-child {
	margin-right: 2vw;
}

#top-nav a {
	color: var(--light);
	text-decoration: none;
	margin: 0 12px;
	padding: 4px 12px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

#top-nav a:hover {
	color: var(--french-sky-blue);
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

.btn, button {
	border-color: var(--french-sky-blue);
	color: var(--french-sky-blue);
	transition: all 1s;
}

.btn:hover, button:hover {
	border-color: var(--light);
	color: var(--light);
	transition: all 1s;
}