@import './color-scheme.css';
@import './fonts.css';

* {
	box-sizing: border-box;
	font-family: 'Oxanium';
}

html {
	font-family: 'Oxanium';
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Oxanium';
	padding: 0;
	margin: 0;
}
