@font-face {
	src: url("../assets/fonts/Oxanium/static/Oxanium-Regular.ttf");
	font-family: "Oxanium";
}

@font-face {
	src: url("../assets/fonts/Oxanium/static/Oxanium-Medium.ttf");
	font-family: "Oxanium Medium";
}
