@import './fonts.css';

* {
	box-sizing: border-box;
	font-family: 'Oxanium';
	color: var(--light);
}

html {
	font-family: 'Oxanium';
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to bottom right, var(--color-0-4), var(--dark));
}

body {
	font-family: 'Oxanium';
	padding: 0;
	margin: 0;
}