@import './fonts.css';

* {
	box-sizing: border-box;
	font-family: 'Oxanium';
	color: var(--light);
}

html {
	font-family: 'Oxanium';
}

body {
	background-image: linear-gradient(to bottom right, var(--color-0-4), var(--dark));
	font-family: 'Oxanium';
	padding: 0;
	margin: 0;
}

select {
	color: var(--light);
	background: var(--color-0-4);
	padding: var(--xsm);
	border: none;
	outline: none;
}

legend {
	color: var(--light);
}

option {
	color: var(--light);
	background: var(--color-0-4);
	border: none;
	outline: none;
}

input {
	color: var(--dark);
	border: none;
	background: var(--light);
}

label {
	color: var(--color-2-0);
	text-align: left;
	font-size: var(--md);
}

fieldset {
	display: flex;
	flex-direction: column;
	width: 320px;
	border: none;
	padding: var(--md);
	background: var(--dark);
}

fieldset * {
	/* padding: var(--xsm); */
	margin: var(--xsm) 0;
}