.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.is-row {
	-ms-flex-direction: row;
	flex-direction: row;
}

.is-row-reverse {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.is-column {
	-ms-flex-direction: column;
	flex-direction: column;
}

.is-column-reverse {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.is-centered {
	justify-content: center;
}

div[class^="col-"] {
	display: -ms-flexbox;
	display: flex;
}

.col-x {
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.col-1 {
	width: 8.33333333%;
}

.col-2 {
	width: 16.66666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333333%;
}

.col-5 {
	width: 41.66666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33333333%;
}

.col-8 {
	width: 66.66666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333333%;
}

.col-11 {
	width: 91.66666667%;
}

.col-12 {
	width: 100%;
}

.is-mobile {
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

@media all and (max-width: 768px) {
	.is-mobile {
		min-width: 100%;
	}
}

/* Basic layout */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
