:root {
	--dark: #000011;
	--light: #eeeeee;

	--color-0-0: #0066ff;
	--color-0-1: #e6f0ff;
	--color-0-2: #80b3ff;
	--color-0-3: #003380;
	--color-0-3-transparent: #00338066;
	--color-0-4: #000a1a;

	--color-1-0: #04e762;
	--color-1-1: #cdfee1;
	--color-1-2: #00190b;

	--color-2-0: #f5b700;
	--color-2-1: #fff9e6;
	--color-2-2: #1a1300;

	--color-3-0: #dc0073;
	--color-3-1: #ffe6f3;
	--color-3-2: #1a000d;

	--xsm: 0.25rem;
	--sm: 0.75rem;
	--md: 1rem;
	--lg: 1.5rem;
	--xlg: 3rem;

	--top-nav-height: 5vh;
	--side-nav-width: 10vw;
}