@import './normalize.css';
@import './html-overwrite.css';
@import './layout.css';
@import './modules/nav.css';
@import './modules/dashboard.css';
@import './vars.css';


#logo {
	width: 25vw;
	margin: 5vh 0 0 0;
}

#sub-logo {
	color: var(--color-2-0);
}

button, .btn {
	outline: none;
	border: none;
	background: var(--color-0-3);
	color: var(--light);
	transition: all 1s;
	padding: var(--pd);
	border-radius: 4px;
}

.link {
	font-size: var(--sm);
	color: var(--light);
	text-decoration: none;
	margin: 0 12px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

.link:hover {
	color: var(--color-2-0);
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
}

.btn:hover, button:hover {
	border: none;
	color: var(--light);
	transition: all 1s;
	box-shadow: 0 10px 10px -15px var(--dark);
}

.btn:active,
button:active {
	border: none;
	color: var(--light);
	transition: all 1s;
	box-shadow: 0 10px 10px -15px var(--dark);
}

.sidebar-icon {
	width: 64px;
	height: 64px;
	stroke: var(--color-0-0) !important;
	fill: var(--color-0-0) !important;
}

@media screen and (max-width: 425px) {
	#logo {
		width: 25vw;
		margin: 33vh 0 0 0;
	}
}