@import './normalize.css';
@import './html-overwrite.css';
@import './layout.css';
@import './theme-modules/nav.css';
@import './vars.css';


#logo {
	width: 25vw;
}

#sub-logo {
	color: var(--color-2-0);
}

button, .btn {
	outline: none;
	border: none;
	background: var(--color-0-3);
	color: var(--light);
	transition: all 1s;
	padding: var(--pd);
	border-radius: 4px;
	box-shadow: 0 10px 10px -5px var(--dark);
}

.btn:hover, button:hover {
	border: none;
	color: var(--light);
	transition: all 1s;
	box-shadow: 0 10px 10px -15px var(--dark);
}

.btn:active,
button:active {
	border: none;
	color: var(--light);
	transition: all 1s;
	box-shadow: 0 10px 10px -15px var(--dark);
}

.sidebar-icon {
	width: 64px;
	height: 64px;
	stroke: var(--color-0-0) !important;
	fill: var(--color-0-0) !important;
}